section .novidades{
    background-color: var(--branco); 
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1.5em;
}

.novidades__texto{
    color: var(--azul-escuro);
}

.novidades__titulo{
    color: var(--azul-escuro);
}

.cadastro-email{
    color: var(--azul-escuro);
    border: 1px solid var(--azul-escuro);
    border-radius: 24px;
    padding: 1em;
}

.cadastro-email::placeholder{
    padding-left: 2em;
    color: var(--azul-escuro);

    background-image: url(../img/carta.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: left center;
}